.body {
  margin: 0;
  position: relative;
  background-color: #E5EEE4;
}

.top-container {
  padding: 20px;
  position: absolute;
  left: 0;
  width: 400px;
  text-align: left;
}

.middle-container {
  padding: 20px;
  position: absolute;
  left: 0;
  top: 150px;
  width: 400px;
  text-align: left;
}

.bottom-container {
  padding: 20px;
  position: absolute;
  left: 0;
  top: 200px;
  width: 400px;
  text-align: left;
}
