h1 {
  font-family: trattatello, fantasy;
  color: #000000;
  font-size: 100px;
  text-align: center;
  /*margin: auto;*/
  /*width: 50%;*/
  margin-top: 150px;
}

div {
  position: fixed;
  background-color: #D4D8B6;
  height: 600px;
  top:0;
  right: 0;
  left: 0;
}

body {
  margin-left: 0;
  margin-right: 0;

}

h2 {
  font-family: trattatello, fantasy;
  color: #000000;
  text-align: center;
  font-size: 57px;
  /*margin: auto;*/
  /*width: 50%*/
}
